@import "../../styles/variables.scss";

.top-money-display {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 30px auto;
  padding: 20px 0px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
  background-color: $dark;
  border-radius: 10px;
  width: 100%;
}

.income,
.total,
.expenses {
  margin: 0px 20px;
  font-size: 2rem;
}

.income {
  color: $green;
}

.total {
  font-size: 5rem;
}

.expenses {
  color: $red;
}

.arrow {
  fill: $text;
}

@media (max-width: 900px) {
  .top-money-display {
    flex-direction: column;
    margin-top: 0px;
    border-radius: 0px;
  }

  .arrow {
    transform: rotate(90deg);
    margin: 20px;
  }
}
