@import "../styles/variables.scss";

@font-face {
  font-family: SF;
  src: url("../fonts/sf-pro-text-regular.woff");
}

* {
  box-sizing: border-box;
}

body {
  font-family: "SF";
  font-size: 24px;
  margin: 0;
  padding: 0;
  background-color: $background;
  color: $text;
}

.app {
  max-width: 1000px;
  margin: 0 auto;
}
