@font-face {
    font-family: SF;
    src: url("sf-pro-text-regular.woff");
}

body {
    font-family: SF;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.app {
    margin: 0 auto;
}

.top-money-display {
    display: flex;
    align-items: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.income,
.total,
.expenses {
    margin: 0px 20px;
    font-size: 2rem;
}

.income {
    color: #69e04c;
}

.total {
    font-size: 5rem;
}

.expenses {
    color: #ff4004;
}

@media (max-width: 900px) {
    .top-money-display {
        flex-direction: column;
    }

    .arrow {
        transform: rotate(90deg);
        margin: 20px;
    }
}