@font-face {
  font-family: SF;
  src: url("sf-pro-text-regular.woff");
}

* {
  box-sizing: border-box;
}

body {
  font-family: "SF";
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.app {
  max-width: 1000px;
  margin: 0 auto;
}

.form-entry {
  display: flex;
  flex-direction: column;
}

.form-entry > div {
  flex: 1;
}

.form-entry-amount {
  width: 75px;
}
